//Colors

$off-black:#20222b;
$off-white: #a5afd7;
$body-background: #333745;
$button-color: #8357c5;
$blue: #3c4251;
$light-blue: #464b53;
 
//Font Sizings
$title-size: 3.2rem;
$med-size: 1.6rem;
$large-size: 2.6rem;

//Spacing
$med-space: 1.6rem;
$xl-space: 4.6rem;
$sm-space: 1.2rem;
$lg-space: 2.0rem;
$desktop-breakpoint: 45rem;
